/* iconfont字体图标 */
@font-face {
  font-family: 'iconfont';  /* project id 1809039 */
  src: url('//at.alicdn.com/t/font_1809039_ryoohjfsxwg.eot');
  src: url('//at.alicdn.com/t/font_1809039_ryoohjfsxwg.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1809039_ryoohjfsxwg.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1809039_ryoohjfsxwg.woff') format('woff'),
  url('//at.alicdn.com/t/font_1809039_ryoohjfsxwg.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1809039_ryoohjfsxwg.svg#iconfont') format('svg');
}
.iconfont{
  font-family:"iconfont" !important;
  font-size:16px;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
body {
  font-size: 14px;
  /* background-image: url('/image/body_bg.jpg'); */
  /* background-size: 100% 100%; */
}
/* 版心 */
.w {
  width: 100%;
  margin: 0 auto;
  /* background-color: #ebeef5; */
}
@media screen and (min-width: 1200px) {
  .w {
    width: 1200px;
  }
}

.container {
  min-height: calc(100vh - 230px);
  margin-top: 60px;
}

/* 清除浮动 */
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}


/* jquery.validate error提示文字 */
form label.error {
  color: #d60808;
  font-size: 12px;
  margin-top: 6px;
}

/* 表单 */
form .form-group {
  margin-bottom: 10px;
}
form label {
  margin-bottom: 6px;
}
form .form-group input[type="radio"] {
  margin-right: 10px;
  margin-left: 10px;
}

/* 提交按钮 */
form .submit-btn {
  text-align:center;
  margin-top:50px;
}
form .submit-btn>.btn {
  width: 100%;
}
.btn-primary, .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary:focus:active  {
  background-color: #ff8140;
  border-color: #ff8140;
}
