    <%- include('./components/header', {
      title: '首页',
      keywords: '首页',
      description: '首页'
    }) %>

    <%- include('./components/nav', { userInfo: locals.userInfo }) %>

    <style>
      .container {
        padding: 30px;
      }
    </style>
    
  	<div class="container">
      <div class="row">
        <div class="col-md-6">
          <%- include('./components/add-weibo') %>
        </div>
        <div class="col-md-offset-1 col-md-5">
          右侧
        </div>
      </div>

    </div>

    <%- include('./components/footer') %>
