    <%- include('./components/header', {
      title: '首页',
      keywords: '首页',
      description: '首页'
    }) %>

    <%- include('./components/nav', { userInfo: locals.userInfo }) %>
    
  	<div class="container">
      广场首页
    </div>

    <%- include('./components/footer') %>