	<%- include('./components/header', { title: '登录' }) %>

	<%- include('./components/nav', { userInfo: locals.userInfo }) %>

	<style>
		form {
			width: 500px;
			margin: 50px auto;
		}
		.go-register {
			text-align: center;
			margin-top: 20px;
		}
		.go-register a {
			text-decoration: underline;
			padding: 0 4px;
		}
	</style>

	<div class="container">
		<form id="login-form">
			<div class="form-group">
				<label for="userName">手机号</label>
				<input type="text" class="form-control" name="userName" placeholder="请输入手机号" autocomplete="off">
			</div>
			<div class="form-group">
				<label for="password">密码</label>
				<input type="password" class="form-control" name="password" placeholder="请输入密码" autocomplete="off">
			</div>
			<div style="text-align: center;">
				<button type="submit" class="btn btn-primary" id="btn-submit">登 录</button>
			</div>
			<div class="go-register">
				还无账号？前往<a href="/user/register">注册</a>!
			</div>
		</form>
	</div>

	<%- include('./components/footer.ejs') %>

	<script src="http://static.runoob.com/assets/jquery-validation-1.14.0/dist/jquery.validate.min.js"></script>
	<script src="http://static.runoob.com/assets/jquery-validation-1.14.0/dist/localization/messages_zh.js"></script>

	<script>
		$(function() {
			// 增加表单验证
			$("#login-form").validate({
				// debug: true, // 调试模式取消submit的默认提交功能   
				rules: {
					userName: {
						required: true, // 必填项
						rangelength: [2, 15]
					},
					password: {
						required: true,
						rangelength: [6, 16]
					}
				},
				submitHandler: function(form){ 
					var userName = $('input[name=userName]').val()
					var password = $('input[name=password]').val()
					ajax.post('/api/user/login', {
						userName,
						password,
					}, function(res) {
						if (res.code === 0) {
							toastr.success('登录成功！');
							setTimeout(() => {
								window.location.href = '/'
							}, 2000);
						} else {
							toastr.error(res.msg)
						}
					})
				}, 
			});
		})
	</script>