<%- include('../components/header', { title: '修改密码' }) %>

<%- include('../components/nav', { userInfo: locals.userInfo }) %>

<style>
form {
  max-width: 500px;
  margin: 0 auto;
  padding: 30px;
}
</style>

<div class="container">
  <form id="password-form">
    
    <div class="form-group">
      <label for="password">原密码</label>
      <input type="password" class="form-control" name="password" placeholder="请输入原密码" autocomplete="off">
    </div>
    <div class="form-group">
      <label for="newPassword">新密码</label>
      <input type="password" class="form-control" name="newPassword" placeholder="请输入新密码" autocomplete="off">
    </div>
    <div class="form-group">
      <label for="confirmPassword">再次输入新密码</label>
      <input type="password" class="form-control" name="confirmPassword" placeholder="请再次输入新密码" autocomplete="off">
    </div>

    <div class="submit-btn">
			<button type="submit" class="btn btn-primary">修 改</button>
		</div>
  </form>
</div>

<script src="http://static.runoob.com/assets/jquery-validation-1.14.0/dist/jquery.validate.min.js"></script>
<script src="http://static.runoob.com/assets/jquery-validation-1.14.0/dist/localization/messages_zh.js"></script>

<%- include('../components/footer.ejs') %>

<script>
  $(function() {

    // 增加表单验证
    $("#password-form").validate({
      debug: true, // 调试模式取消submit的默认提交功能   
      rules: {
        password: {
					required: true,
					rangelength: [6, 16]
        },
        newPassword: {
					required: true,
					rangelength: [6, 16]
				},
				confirmPassword: {
					required: true,
					equalTo: 'input[name="newPassword"]'
        },
      },
      // 验证失败的提示信息
      messages: {
        confirmPassword: {
          equalTo: "两次密码不相同"
        },
      },
      submitHandler: function(form){
        var password = $('input[name=password]').val()
        var newPassword = $('input[name=newPassword]').val()
        ajax.patch('/api/user/changePwd', {
          password,
          newPassword,
        }, function(res) {
          if (res.code === 0) {
            toastr.success('修改成功!请重新登录');
            setTimeout(function() {
              $('#logout').trigger("click");
            }, 500)
          } else {
            toastr.error(res.msg)
          }
        })
      }, 
    });

  })
</script>