<%- include('../components/header', {
	title: '注册'
}) %>
<style>
	form {
		max-width: 500px;
		margin: 0 auto;
		padding: 30px;
	}
	#sameName {
		display: none;
		color: #d60808;
		font-size: 12px;
		margin-bottom: 10px;
	}
	#headList-view img {
		width: 50px;
		height: 50px;
		border-radius: 50%;
	}
	#headList-view label {
		margin-right: 20px;
		margin-bottom: 20px;
	}
</style>

<%- include('../components/nav') %>

<div class="container">
	<form id="register-form">
		<div class="form-group">
			<label for="userName">手机号</label>
			<input id="userName" type="text" class="form-control" name="userName" placeholder="请输入手机号" autocomplete="off">
		</div>
		<div id="sameName">手机号已存在</div>
		<div class="form-group">
			<label for="nickName">昵称</label>
			<input type="text" class="form-control" name="nickName" placeholder="请输入昵称" autocomplete="off">
		</div>
		<div class="form-group">
			<label for="password">密码</label>
			<input type="password" class="form-control" name="password" placeholder="请输入密码" autocomplete="off">
		</div>
		<div class="form-group">
			<label for="confirmPassword">再次输入密码</label>
			<input type="password" class="form-control" name="confirmPassword" placeholder="请再次输入密码" autocomplete="off">
		</div>
		<div class="form-group">
			<label for="gender">性别</label>
			<p></p>
			<div>
				<label for="gender">
					<input type="radio" name="gender" value="1" checked>男
				</label>
				<label for="gender">
					<input type="radio" name="gender" value="2">女
				</label>
				<label for="gender">
					<input type="radio" name="gender" value="3">保密
				</label>
			</div>
		</div>
		<div class="form-group">
			<label for="provinceId">省份</label>
			<select id="pro-select" class="form-control" name="provinceId">
				<option label="请选择省份" value=""></option>
			</select>
		</div>
		<div class="form-group">
			<label for="cityId">城市</label>
			<select id="city-select" class="form-control" placeholder="请选择城市" name="cityId">
				<option label="请选择城市" value=""></option>
			</select>
		</div>
		<div class="form-group">
			<label for="headImg">头像</label>
			<div id="headList-view"></div>
		</div>
		<div class="submit-btn">
			<button type="submit" class="btn btn-primary">注 册</button>
		</div>
	</form>

</div>
<%- include('../components/footer.ejs') %>

<script src="http://static.runoob.com/assets/jquery-validation-1.14.0/dist/jquery.validate.min.js"></script>
<script src="http://static.runoob.com/assets/jquery-validation-1.14.0/dist/localization/messages_zh.js"></script>

<script>
	$(function () {
		var provinceList = []
		var cityList = []

		// 表单验证
		$("#register-form").validate({
			debug: true, // 调试模式取消submit的默认提交功能   
			rules: {
				userName: {
					required: true, // 必填项
					checkUserName: true
				},
				nickName: {
					required: true,
					rangelength: [2, 8]
				},
				password: {
					required: true,
					rangelength: [6, 16]
				},
				confirmPassword: {
					required: true,
					equalTo: 'input[name="password"]'
				},
				gender: {
					required: true,
				},
				provinceId: {
					required: true,
				},
				cityId: {
					required: true,
				},
				headImg: {
					required: true,
				},
			},
			// 验证失败的提示信息
			messages: {
				confirmPassword: {
					equalTo: "两次密码不相同"
				},
			},
			errorPlacement: function (error, element) { // 指定错误信息位置
				if (element.is(':radio') || element.is(':checkbox')) { // 如果是radio或checkbox
					var eid = element.attr('name'); // 获取元素的name属性
					error.appendTo(element.parent().parent()); // 将错误信息添加当前元素的父结点后面
				} else {
					error.insertAfter(element);
				}
			},
			submitHandler: function(form){ 
				submitForm()
			}, 
		});


		// 自定义正则表达示验证方法 
		$.validator.addMethod("checkUserName",function(value,element,params){ 
			var checkUserName = /^1[0-9]{10}$/; 
			return this.optional(element) || (checkUserName.test(value)); 
		}, '手机号格式错误');

		// 验证账号名唯一
		$('#userName').on('blur', function () {
			var value = $(this).val()
			if (value && value.length >= 2) {
				ajax.post('/api/user/checkName', {
					userName: $(this).val()
				}, function(res) {
					if (res.code !== 0) {
						$('#sameName').fadeIn()
					} else {
						$('#sameName').fadeOut()
					}
				})
			}
		})

		// 表单提交
		function submitForm() {
			var userName = $('input[name=userName]').val()
			var nickName = $('input[name=nickName]').val()
			var password = $('input[name=password]').val()
			var gender = $('input[name=gender]:checked').val()
			var provinceId = $('#pro-select').val()
			var cityId = $('#city-select').val()
			var headImg = $('input[name=headImg]:checked').val()
			ajax.post('/api/user/register', {
				userName,
				nickName,
				password,
				gender: Number(gender),
				provinceId,
				cityId,
				headImg,
			}, function(res) {
				if (res.code === 0) {
					toastr.success('注册成功！请前往登录');
					setTimeout(function() {
						window.location.href = '/user/login'
					}, 500);
				} else {
					toastr.error(res.msg)
				}
			})
		}

		// 获取头像
		function getHeadImg() {
			$.ajax({
				url:'/jsonp/headList',
				dataType: 'JSONP',
				success: function (res) {
					if (res.code === 0) {
						var text = ''
						$.map(res.data, function(val) {
							text += '<label>' +
									'<input type="radio" name="headImg" value=' + val.url + '>' +
									'<img src=' + val.url + ' />'
								+ '</label>'
						})
						$('#headList-view').html(text)
					}
				}
			})
		}

		// 获取地区
		function getArea() {
			$.ajax({
				url:'/jsonp/area',
				dataType: 'JSONP',
				success: function (res) {
					if (res.code === 0) {
						var text = '<option label="请选择省份" value=""></option>'
						res.data.forEach(function(val) {
							if (val.type === 1) {
								provinceList.push(val)
							} else if (val.type === 2) {
								cityList.push(val)
							}
						})
						$.map(provinceList, function(val) {
							text += '<option label="' + val.name + '" value="' + val.id + '"></option>'
						})
						$('#pro-select').html(text)
						// console.log($('#pro-select').val(''))
					}
				}
			})
		}


		// 省份change
		$('#pro-select').change(function() {
			var selectVal = $(this).val()
			var text = '<option label="请选择城市" value=""></option>'
			$.map(cityList, function(val) {
				if (val.pid == selectVal) {
					text += '<option label="' + val.name + '" value="' + val.id + '"></option>'
				}
			})
			$('#city-select').html(text)
		})

		getHeadImg()
		getArea()
	})
</script>