
<!DOCTYPE html>
<html>
  <head>
		<title><%= locals.title || '微博博' %></title>
		<meta name="keywords" content="<%= locals.keywords || '关键字' %>" />
		<meta name="description" content="<%= locals.description || '介绍' %>" />
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
		<meta content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" name=viewport>
		<!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
		<link rel="stylesheet" href="/css/lib/bootstrap.min.css">
		<link rel="stylesheet" href="/css/lib/toastr.min.css">
    <link rel="stylesheet" href='/css/reset.css' />
    <link rel="stylesheet" href='/css/common.css' />
    <script src="/js/lib/jquery.min.js"></script>
    <script src="/js/lib/jquery.validate.min.js"></script>
    <script src="/js/lib/messages_zh.js"></script>
    <script src="/js/request.js"></script>
    <script src="/js/utils.js"></script>
	</head>
  <body>