
<!DOCTYPE html>
<html>
  <head>
		<title><%= locals.title || '微博博' %></title>
		<meta name="keywords" content="<%= locals.keywords || '关键字' %>" />
		<meta name="description" content="<%= locals.description || '介绍' %>" />
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
		<meta content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" name=viewport>
		<!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
		<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" href="//cdn.bootcss.com/toastr.js/2.1.4/toastr.min.css">
    <link rel="stylesheet" href='/style/reset.css' />
    <link rel="stylesheet" href='/style/common.css' />
	</head>
  <body>