<div class="weibo-list-item">
  <div class="clearfix">
    <img src="/20200509-211056.xbx.jpg" alt="用户头像" class="headImg" style="float: left;" />
    <div style="float: left;">
      <div class="name">昵称</div>
      <div class="time">发布时间</div>
    </div>
  </div>
  <div class="content">内容</div>
</div>